:root {
    --global-color-alpha: #ffffff;
    --global-color-beta: #232424;
    --global-color-charlie: #00ad2f;

    --global-font-weight: 300;
    --global-font-weight--: 500;
    --global-font-weight---: 600;

    --global-font-size: 12px;
    --global-font-size--: 16px;
    --global-font-size---: 18px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

html, body {
    scroll-behavior: smooth;
    font-family: Inter, roboto, sans-serif;
    font-style: normal;
    background-color: var(--global-color-beta);
    color: var(--global-color-alpha);
    height: 100vh;
}


/* Container */
.container {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 10% 1fr 10%;
    -ms-grid-columns: 10% 1fr 10%;
    grid-template-rows: 104px 64px 48px 64px auto 64px 200px;
    -ms-grid-rows: 104px 64px 48px 64px auto 64px 200px;
}
.c-title {
    grid-column: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-row: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;

    align-self: flex-end;

    color: var(--global-color-charlie);
}


/* Search bar */
.c-searchH1 {
    grid-column: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-row: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;

    align-self: flex-end;
    padding-bottom: 8px;
}
.c-searchGenres {
    grid-column: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-row: 3 / 4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;

    margin: 4px 2px;
    padding: 2px 12px;
    border: 1px solid var(--global-color-alpha);
    border-radius: 4px;
    background-color: var(--global-color-alpha);
    color: var(--global-color-beta);
    font-weight: var(--global-font-weight---);
}


/* Results */
.c-resultsH3 {
    grid-column: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-row: 4 / 5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    
    align-self: flex-end; 

    color: var(--global-color-charlie);
    font-size: var(--global-font-size--);
    font-weight: var(--global-font-weight---);
}
.c-resultsUL {
    grid-column: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-row: 5 / 6;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;

    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 12px;
}


/* Search results */
.o-searchLI {
    padding-top: 10px;
}
.o-searchA, .o-searchA:visited {
    text-decoration: none;
    color: var(--global-color-alpha);
    font-size: var(--global-font-size---);
    font-weight: var(--global-font-weight--);
}


/* Track results */
.o-trackLI {
    margin-top: 8px;
    margin-left: -12px;
    padding: 4px 10px;
}
.o-trackA, .o-trackA:visited {
    text-decoration: none;
    color: var(--global-color-alpha);
}
.o-resultH3 {
    font-size: var(--global-font-size---);
    font-weight: var(--global-font-weight--);
}
.o-resultH4 {
    font-size: var(--global-font-size);
    font-weight: var(--global-font-weight);
    color: gray;
}


/* Feature results */
.c-featureChart {
    grid-column: 1 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-row: 7 / 8;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;

    padding: 0 8px;
}



/* Responsive */
@media screen and (min-width: 576px) {
    .container {
        grid-template-columns: 15% 1fr 15%;
        -ms-grid-columns: 15% 1fr 15%;
        grid-template-rows: 104px 64px 48px 64px auto 64px 200px;
        -ms-grid-rows: 104px 64px 48px 64px auto 64px 200px;
    }

    .c-featureChart {    
        padding: 0 20%;
    }
}

@media screen and (min-width: 916px) {
    .container {
        grid-template-columns: 30% 1fr 30%;
        -ms-grid-columns: 25% 1fr 25%;
        grid-template-rows: 104px 64px 48px 64px auto 64px 200px;
        -ms-grid-rows: 104px 64px 48px 64px auto 64px 200px;
    }

    .c-featureChart {    
        padding: 0 35%;
    }
}